@import url('https://fonts.googleapis.com/css?family=Raleway');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ffffff;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    font-weight: bolder;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .bannier{
    background-image: url("images/headerback.jpg");
    width: 100%;
    background-size: cover;
    height: 600px;
    opacity: 0.1;
    
  }
 

  
