.head {
    position: top-fixed;
    background-color: orange !important;
  }
  
  .nav-link,
  .navbar-brand {
    color: white !important;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  