
/* debut navbar */
@import url('https://fonts.googleapis.com/css?family=Raleway');


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background-color:black;
    color: #fff;
    height: 70px;
}
:root{
    --danger:rgb(178, 42, 42);
    --white:white;
}
.navbar{
    background:var(--danger);
}
.nav-link{
    color: var(--white) !important;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
     background: var(--white); color: var(--danger) !important
    }
.navbar-collapse {
     justify-content: flex-end;
    }
.navbar-toggler {
     background:#fff !important;
    }
.active{
    color: #fff !important;
}
.active:hover {
     background: var(--white) !important; color: var(--danger) !important;
     }
  

  
 /* fin navbar */
/* style sur les images */
img{
    width: 40px;
    height: 245px;
    

}
img:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.1);
    Animation-name : fade ;
    Animation-delay : 2s ;
    Animation-duration : 3s ;
    Animation-iteration-count : infinite ;
}
/* fin de style image */
/*  style body et h2 */
body{
    /* background-color: rgb(79, 79, 216); */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPcxKzD2QCBQQPgc0mZXPyCB6ZHyNVSentBA&usqp=CAU");
    background-repeat: no-repeat ;
	background-size:cover ;
}
h2{
    color:black;
}
/* fin de style */

